*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
}

body{
    background-color: aliceblue;
}

.calculator-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    min-height: 100vh;
}

.previous-operation, .current-operation{
    grid-column: span 4;
    justify-self: end;
}

.clear-btn, .equal-btn{
    grid-column: span 2;
}
