*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
}

body{
    background-color: aliceblue;
}

.calculator-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    min-height: 95vh;
    border: 0.1rem solid black;
}

.previous-operation, .current-operation{
    grid-column: span 4;
    justify-self: end;
}

.clear-btn, .equal-btn{
    grid-column: span 2;
}

button{
    background-color: cadetblue;
    font-weight: 500;
}

button:hover{
    font-size: 1.6rem;
    background-color:azure;
    font-weight: 700;
}

button:active{
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255);
    font-weight: 900;
}
