*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
}

body{
    background-color: aliceblue;
}

.calculator-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(1fr, auto) minmax(1fr, auto) repeat(5, 1fr);
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    min-height: 95vh;
    border: 0.1rem solid black;
}

.results-panel{
    grid-column: span 4;
    background-color: rgba(150, 192, 149, 0.785);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0.5rem;
    overflow: auto;
}

.previous-operation, .current-operation{
    grid-column: span 4;
    overflow-wrap: break-word;
    word-break: break-all;
}

.previous-operation{
    color:rgb(95, 91, 91);
    font-size: 1.0rem;
}

.current-operation {
    font-size: 1.6rem;
}

.clear-btn, .equal-btn{
    grid-column: span 2;
}

button{
    background-color: cadetblue;
    font-weight: 500;
    border: 2px solid aquamarine;
}

button:hover{
    cursor: pointer;
    font-size: 1.6rem;
    background-color:azure;
    font-weight: 700;
}

button:active{
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255, 1.0);
    font-weight: 900;
}
